/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #fdc35b;
  --f7-theme-color-rgb: 253, 195, 91;
  --f7-theme-color-shade: #fdb433;
  --f7-theme-color-tint: #fdd283;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-searchbar-bg-color: var(--f7-bars-bg-color);
  --f7-searchbar-input-bg-color: #fff;
  --f7-searchbar-input-text-color: #000;
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
  --f7-panel-width: 200px;
  --f7-panel-bg-color: #000;
  --f7-list-item-title-line-height: 40px;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}

.panel{
  width : 60%;
  background-color: #000;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;


}



/* Your app custom styles here */
#dosdonts{//dimensions for dosdonts
  max-height: 100%;
  max-width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#splash-screen { //white background for splashscreen
position: fixed;
height: 100%;
width: 100%;
top:0;
left: 0;
background: #fff;
z-index: 9999;
}

#logo{ // dimensions for logo
    max-height: 35%;
    max-width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rock {
    max-width: 50%;
    height: 25%;
    background-image: url(/static/food.jpg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    font-size: 150%;
    color: #fff;
}
